[project]
name = "voltaserve-language"
version = "1.0.0"
license = { text = "AGPL-3.0-only" }
requires-python = "==3.12.*"
dependencies = ["flask==3.0.3", "spacy==3.7.4", "requests==2.32.2"]

[tool.pdm.dev-dependencies]
dev = ["black==24.4.2"]

[tool.pdm]
distribution = false
